@import url('../../../variables.css');

:host {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  :host {
    flex-direction: column;
  }
}

.sitemap-entry {
  flex-basis: 100%;
}

.sitemap-entry h4 {
  margin-top: 0;
}
