@import url('./variables.css');

.entry {
  height: 100vh;
  display: grid;
  grid-template-columns: var(--aside-width) auto;
  grid-template-rows: var(--header-height) auto auto;
  grid-template-areas:
  "aside header"
  "aside main"
  "aside footer";
}

aside {
  background: var(--color-primary);
  color: var(--font-color-inverse);
  grid-area: aside;
  height: 100%;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--main-side-pad);
}

main {
  grid-area: main;
  background: var(--color-backgroud-alt);
  padding: var(--main-vertical-pad);
  display: flex;
  flex-direction: column;
}

main .contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media (max-width: 1600px) {
  main .contents {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1024px) {
  main .contents {
    grid-template-columns: 1fr;
  }
}

footer {
  grid-area: footer;
  background: var(--font-color-primary);
  color: var(--font-color-alt);
  display: flex;
  flex-direction: column;
  padding: var(--main-vertical-pad);
}
