@import url('./variables.css');

body {
  background: var(--color-background);
  color: var(--font-color-primary);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
  height: 100vh;
}
